<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Manager</title>
    <link href="../public/todo.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="todo-page">
        <div class="pb-25">welcome
            <%= locals.user?locals.user.email:"" %>!!!
                <a href="/user/signout">sign out</a>
        </div>
        <form action="/todos/new" method="post" class="pb-10">
            <input type="text" name="todoName" placeholder="what's next" required class="todo-input-name todo-input" />
            <input type="date" name="dueDate" required class="todo-input-date h-20 br-4" />
            <button type="submit" class="todo-submit-button">add</button>
        </form>
        <% const todosLen = locals.userTodos.length %> 
        <% const due_calc_logic = ["due_days == 0","due_days==1","due_days > 1","due_days < 0","false"] %>
            <% const due_types = ["due today" ,"due tomorrow", "upcoming" , "overdue","completed"] %>
                <% for(var j=0 ; j< due_types.length ; j++){ %>
                    <div>
                        <div class="due_types">
                            <%= due_types[j] %>
                        </div>
                        <ul class="pl-15 lstyle-none">
                            <% for(var i=0; i< todosLen ; i++){ %>
                                <%var due_days = moment(locals.userTodos[i].due_date).diff(moment().startOf('day'),'days') %>
                                    <% if((due_types[j]!="completed" && eval(due_calc_logic[j]) && !locals.userTodos[i].completed)
                                          ||(due_types[j]=="completed"&&locals.userTodos[i].completed)){ %>
                                        <li>
                                            <div class="d-flex">
                                                <div class="p-5">
                                                    <form action="/todos/update/<%=locals.userTodos[i].id %>" method="post">
                                                        <input type="checkbox" onChange="this.form.submit()" name="completed" <%=locals.userTodos[i].completed? "checked": "" %>/>
                                                    </form>
                                                </div>
                                                <div class="p-5 todo-list-name">
                                                    <%= locals.userTodos[i].todo_name %>
                                                </div>
                                                <div class="p-5 pl-10 todo-list-date">
                                                    <%= locals.moment(locals.userTodos[i].due_date).format("Do MMM") %>
                                                </div>
                                                <div class="p-5">
                                                    <form action="/todos/delete/<%=locals.userTodos[i].id %>" method="post">
                                                        <button type="submit">delete</button>
                                                    </form>
                                                </div>
                                            </div>

                                        </li>
                                        <% } %>
                                            <% } %>
                        </ul>
                    </div>

                    <% } %>
    </div>

</body>

</html>